version: 2
updates:
  - package-ecosystem: 'composer'
    directory: '/'
    schedule:
      interval: 'monthly'

    groups:
      composer:
        patterns:
          - "*"

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'

    groups:
      github-actions:
        patterns:
          - '*'
