* text=auto

.github export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
phpstan-baseline.php export-ignore
phpstan.config.neon export-ignore
phpstan.dist.neon export-ignore
