parameters:
	level: 10
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	rememberPossiblyImpureFunctionValues: true
	checkBenevolentUnionTypes: true
	reportPossiblyNonexistentGeneralArrayOffset: true
	reportPossiblyNonexistentConstantArrayOffset: true
	reportAlwaysTrueInLastCondition: true
	reportAnyTypeWideningInVarTag: true
	checkMissingOverrideMethodAttribute: true
	checkMissingCallableSignature: true

	bootstrapFiles:
		- tests/bootstrap.php

	paths:
		- src
		- tests

	ignoreErrors:
		-
			identifier: class.extendsInternalClass
		-
			identifier: property.internalClass
		-
			identifier: method.internalClass
		-
			identifier: traitUse.internalTrait

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
